doctype html
html(lang='en')
 head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='icon.ico')
    script(src='js/angular.js')
    script(src='js/jquery-2.1.3.js')
    script(src='/js/socket.io.js')
    script(src='js/key_controls.js')
    script(src='js/score_interactions.js')
   
    if electron
     script(src="js/angContElectron.js")
     script.
      var remote = require('remote');
      var main = remote.require('./main.js');
      console.log(main);
	  var upDownClick = main.clocks.upDownClick;
      var gameClocks = main.clocks.objClocks;
      var scores = main.GAMEDATA.score;
      window.$ = window.jQuery = require('./js/jquery-2.1.3.js')
      var loadScores = function(){
      $('#homeScore').html(scores.home);
      $('#awayScore').html(scores.away);
      };
    else
     script(src='js/angContBrowser.js')
	 script(src='js/adjustClocks.js')
   
    title Scoreboard Application
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/dashboard.css', rel='stylesheet')
    link(href='css/dashboard_extend.css', rel='stylesheet')
 body
  block content
  script(src='js/angular_jamtimer.js')
  script(src='js/bootstrap.min.js')
 
  

