<h2 class="sub-header">Primary Controls</h2>
    <button type="button" class="btn btn-lg btn-success" onclick="main.state.startJam()">Start Jam</button>
    <button type="button" class="btn btn-lg btn-danger" onclick="main.state.stopJam()">Stop Jam</button><br><br>
    <button type="button" class="btn btn-lg btn-info" onclick="main.state.callTTO()">TTO</button>
    <button type="button" class="btn btn-lg btn-warning" onclick="main.state.callOTO()">OTO</button><br><br>
    <button type="button" class="btn btn-lg btn-default" onclick="main.displayFunctions.setFullScreen();">Display Full</button>
    <button type="button" class="btn btn-lg btn-primary" onclick="main.displayFunctions.openDisplayWindow();">Open Display</button>
    <button type="button" class="btn btn-lg btn-link">Link</button>