<h2 class="sub-header">Primary Controls</h2>
    <button type="button" class="btn btn-lg btn-success" ng-click="click('start')">Start Jam</button>
    <button type="button" class="btn btn-lg btn-danger" ng-click="click('stop')">Stop Jam</button>
    <button type="button" class="btn btn-lg btn-info" ng-click="click('callTTO')">TTO</button>
    <button type="button" class="btn btn-lg btn-warning" ng-click="click('callOTO')">OTO</button>
    <button type="button" class="btn btn-lg btn-default">Default</button>
    <button type="button" class="btn btn-lg btn-primary">Primary</button>


