<h2 class="sub-header">Score</h2>
    <div class="table-responsive">
        <table class="table table-striped">
             <tbody>
                <tr>
                  <td id="home">Team1</td>
                  <td id="away">Team2</td>
                </tr>
                <tr>
                    <td id="homeScore">Score 1</td>
                    <td id="awayScore">Score 2</td>
                </tr>
               
            </tbody>
        </table>
              
              
    </div>